/* ----------------------
Project: CWong Style system? 
Version: 1.0
Designer: 
Developer: Cliff Wong
Updated: 09/10/18
------------------------ */
/***
 *    ██████╗  ██████╗     ███╗   ██╗ ██████╗ ████████╗    ███████╗██████╗ ██╗████████╗     ██████╗███████╗███████╗
 *    ██╔══██╗██╔═══██╗    ████╗  ██║██╔═══██╗╚══██╔══╝    ██╔════╝██╔══██╗██║╚══██╔══╝    ██╔════╝██╔════╝██╔════╝
 *    ██║  ██║██║   ██║    ██╔██╗ ██║██║   ██║   ██║       █████╗  ██║  ██║██║   ██║       ██║     ███████╗███████╗
 *    ██║  ██║██║   ██║    ██║╚██╗██║██║   ██║   ██║       ██╔══╝  ██║  ██║██║   ██║       ██║     ╚════██║╚════██║
 *    ██████╔╝╚██████╔╝    ██║ ╚████║╚██████╔╝   ██║       ███████╗██████╔╝██║   ██║       ╚██████╗███████║███████║
 *    ╚═════╝  ╚═════╝     ╚═╝  ╚═══╝ ╚═════╝    ╚═╝       ╚══════╝╚═════╝ ╚═╝   ╚═╝        ╚═════╝╚══════╝╚══════╝
 *                                                                                                                 
 *    ██╗   ██╗███████╗███████╗    ██╗     ███████╗███████╗███████╗     ██████╗ ███╗   ██╗██╗  ██╗   ██╗           
 *    ██║   ██║██╔════╝██╔════╝    ██║     ██╔════╝██╔════╝██╔════╝    ██╔═══██╗████╗  ██║██║  ╚██╗ ██╔╝           
 *    ██║   ██║███████╗█████╗      ██║     █████╗  ███████╗███████╗    ██║   ██║██╔██╗ ██║██║   ╚████╔╝            
 *    ██║   ██║╚════██║██╔══╝      ██║     ██╔══╝  ╚════██║╚════██║    ██║   ██║██║╚██╗██║██║    ╚██╔╝             
 *    ╚██████╔╝███████║███████╗    ███████╗███████╗███████║███████║    ╚██████╔╝██║ ╚████║███████╗██║              
 *     ╚═════╝ ╚══════╝╚══════╝    ╚══════╝╚══════╝╚══════╝╚══════╝     ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝              
 *                      

THIS IS SERIOUS - editing just the .css file will result in loss of all work. 



 */
/*TYPOGRAPHY*/
/*colors scheme*/
/*colors */
/*links*/
/*layout*/
/*animation*/
/*mixins*/
/*********************************************************************************************
Global/helper styles
**********************************************************************************************/
:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 16px;
}
body {
  background: #ffffff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #231f20;
}
@media only screen and (min-width: 1500px) {
  .container {
    width: 1410px;
  }
}
/*Typography*/
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  /*@media @mobile{
		line-height: @mobile-scale;
	}*/
}
h1,
.h1 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: calc(63px);
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: calc(57px);
  }
}
h2,
.h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: calc(54px);
}
@media only screen and (max-width: 768px) {
  h2,
  .h2 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: calc(45px);
  }
}
h2.subheadline,
.h2.subheadline {
  font-size: 34px;
  font-size: 2.125rem;
  line-height: calc(51px);
  margin-top: 0;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: calc(36px);
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: calc(30px);
}
h5,
.h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: calc(27px);
}
p {
  /*.font-size(16px);*/
  font-size: 16px;
  font-size: 1rem ;
}
.disclaimer {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: calc(18px);
}
.font-light {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.text-shadow {
  text-shadow: 1px 1px 1px #666666;
}
/*Resposnive Text align-center*/
@media only screen and (max-width: 768px) {
  .col-xs-center {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-center {
    text-align: center;
  }
}
/*Colors*/
.blue {
  color: #1d9bf7;
}
.teal {
  color: #81d7d3;
}
.white {
  color: #ffffff;
}
/* -----------------
Layout
-------------------- */
/*5 Column Layout*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/*spacing*/
.row.row-spacing {
  margin-bottom: 40px;
}
.clear {
  clear: both;
  margin-top: calc(30px);
  margin-bottom: calc(30px);
}
.clear-lg {
  clear: both;
  margin-top: calc(60px);
  margin-bottom: calc(60px);
}
.margin-tb {
  margin-top: calc(20px);
  margin-bottom: calc(20px);
}
.margin-sm-t {
  margin-top: calc(10px);
}
.margin-sm-b {
  margin-bottom: calc(10px);
}
.margin-sm-r {
  margin-right: calc(10px);
}
.margin-sm-l {
  margin-left: calc(10px);
}
.margin-b {
  margin-bottom: calc(20px);
}
.margin-t {
  margin-top: calc(20px);
}
.margin-l {
  margin-left: calc(20px);
}
.margin-r {
  margin-right: calc(20px);
}
.margin-lg-t {
  margin-top: calc(60px);
}
.margin-lg-b {
  margin-bottom: calc(60px);
}
.padding-t {
  padding-top: calc(20px);
}
.padding-b {
  padding-bottom: calc(20px);
}
.padding-r {
  padding-right: calc(20px);
}
.padding-l {
  padding-left: calc(20px);
}
.padding-tb {
  padding-top: calc(20px);
  padding-bottom: calc(20px);
}
.padding-section {
  padding-top: calc(40px);
  padding-bottom: calc(40px);
}
.padding-20 {
  padding: calc(20px);
}
@media only screen and (max-width: 768px) {
  .col-xs-wide {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-wide {
    width: 65%;
  }
}
/*quick align with flex*/
.flex {
  display: flex;
}
.flex .align-center {
  margin: auto;
  align-self: center;
}
.flex .align-left {
  margin-right: auto;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .flex .align-left {
    margin-left: auto;
    margin-right: auto;
  }
}
.flex .align-right {
  margin-left: auto;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .flex .align-right {
    margin-left: auto;
    margin-right: auto;
  }
}
.flex .align-x-center {
  margin-right: auto;
  margin-left: auto;
}
.flex .align-x-left {
  margin-right: auto;
}
.flex .align-x-right {
  margin-left: auto;
}
.flex .align-y-center {
  align-self: center;
}
.flex .align-y-top {
  align-self: flex-start;
}
.flex .align-y-bottom {
  align-self: flex-end;
}
/* -----------
Utilities
-------------- */
/*Borders*/
.border-top {
  border-top: 1px solid #dedede;
}
.border-right {
  border-right: 1px solid #dedede;
}
.border-bottom {
  border-bottom: 1px solid #dedede;
}
.border-left {
  border-left: 1px solid #dedede;
}
/*center on mobile*/
@media only screen and (max-width: 768px) {
  .col-xs-center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
/*remove float on mobile*/
@media only screen and (max-width: 768px) {
  .mobile-nofloat {
    float: none !important;
  }
}
.nopad {
  padding: 0 !important;
}
.nomargin {
  margin: 0;
}
.display-inline {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .display-inline {
    display: block;
  }
}
/*box-shadow*/
.box-shadow {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
/*overlay*/
.bw-overlay {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.purple-overlay {
  background-color: rgba(156, 0, 255, 0.3);
}
/* align icon and text  */
.icon-text-aligner {
  /* add this class to parent element that contains icon + text elements */
  display: flex;
  align-items: center;
}
.icon-text-aligner > *:nth-child(2) {
  margin-left: 4px;
}
.icon-text-aligner .icon {
  color: inherit;
  flex-shrink: 0;
}
/* -----------
cta
-------------- */
a {
  color: #3ab8b2;
}
a:visited {
  color: #3ab8b2;
}
a:hover,
a:focus,
a:active {
  color: #226a67;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.white {
  color: #ffffff;
}
a.white:visited {
  color: #ffffff;
}
a.white:hover,
a.white:focus,
a.white:active {
  color: #cccccc;
  text-decoration: none;
}
a.navy-link {
  color: #3a4966;
}
a.navy-link:visited {
  color: #3a4966;
}
a.navy-link:hover,
a.navy-link:focus,
a.navy-link:active {
  color: #151a25;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.cta {
  background: #3dd0d1;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: calc(24px);
  padding: .5em 1.5em;
  -webkit-border-radius: 0.283em;
  border-radius: 0.283em;
  background-clip: padding-box;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  a.cta {
    white-space: normal;
  }
}
a.cta:visited {
  color: #ffffff;
}
a.cta:hover,
a.cta:focus,
a.cta:active {
  background: #66dadb;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.cta.secondary {
  background: #ff970f;
}
a.cta.secondary:hover,
a.cta.secondary:focus,
a.cta.secondary:active {
  background: #ffad42;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.cta.btn-sm {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: calc(21px);
}
a.cta.btn-lg {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: calc(30px);
}
/* ----------------
Backgrounds
--------------------  */
/*White bg*/
.white-bg {
  background: #ffffff;
}
/* Black BG*/
.black-bg {
  background: #231f20;
}
/*teal bg*/
.teal-bg {
  background-color: #81d7d3;
}
.dk-teal-bg {
  background-color: #333f48;
}
/*Purple bg*/
.purple-bg {
  background-color: #5c4b51;
}
/*********************************************************************************************
Components
	Carousel
	Icon flip
	Img + Content with flex
	navbar toggle	
	Video - responsive embed
*****************************************************************************************/
/*  --------------------------------------------------------------------------------------
Carousel - with numbered step progress bar
---------------------------------------------------------------------------------------*/
.slide-banner .carousel-control {
  /*opacity:1;*/
  width: 10%;
}
.slide-banner .carousel-control.left,
.slide-banner .carousel-control.right {
  background: none;
}
.slide-banner .carousel-control .glyphicon-chevron-left,
.slide-banner .carousel-control .glyphicon-chevron-right,
.slide-banner .carousel-control .icon-next,
.slide-banner .carousel-control .icon-prev {
  color: #296595;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: calc(45px);
}
.slide-banner .carousel-inner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.slide-banner .carousel-indicators.progressbar {
  position: unset;
  width: unset;
  margin-left: 0;
  height: 50px;
}
.slide-banner .carousel-indicators.progressbar li {
  text-indent: unset;
  margin: 0;
  height: auto;
  background: transparent;
  border: none;
  width: 33.33%;
}
.slide-banner .carousel-indicators.progressbar li:first-child:before {
  margin: 0 0 0 10px;
}
.slide-banner .carousel-indicators.progressbar li:first-child:after {
  content: '';
  left: 10px;
}
.slide-banner .carousel-indicators.progressbar li.step2:after {
  left: 0;
}
.slide-banner .carousel-indicators.progressbar li.step3:before {
  margin: 0 10px 0 0 ;
  float: right;
}
.slide-banner .carousel-indicators.progressbar li.step3:after {
  left: 0;
  width: 90%;
}
.slide-banner .slide-content {
  padding: 5% 0;
}
.slide-banner .slide-content > p {
  padding: 10% 0;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .slide-banner .slide-content > p {
    padding: 0;
  }
}
/* ---------------------------------------------------------------------------------------
Icon flip - on "a"
---------------------------------------------------------------------------------------*/
a[aria-expanded=true] .icon {
  transform: rotate(180deg);
  transform-origin: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a[aria-expanded=false] .icon {
  transform-origin: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
/* ---------------------------------------------------------------------------------------
Img + Content
---------------------------------------------------------------------------------------*/
.img-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .img-content {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.img-content .img {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.img-content .content {
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  -ms-flex-grow: 3;
  flex-grow: 3;
  padding: 20px;
}
/* ---------------------------------------------------------------------------------------
navbar toggle - toggle from hamburger to "x"
--------------------------------------------------------------------------------------- */
.navbar-toggle {
  /*display: block;
	float:left;
	background: transparent ;
	margin-top:0;*/
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggle .icon-bar {
  width: 35px;
  height: 5px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  background: #959799;
  border-radius: 5px;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* ---------------------------------------------------------------------------------------
pano - transparent overlay on mobile
--------------------------------------------------------------------------------------- */
.pg-offset {
  margin-top: 100px;
}
/* ---------------------------------------------------------------------------------------
Video - responsive embed
---------------------------------------------------------------------------------------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*  --------------------------------------------------------------------------------------
Header/Footer Styles
---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------
Header
--------------------------------------------------------------------------------------- */
/*header styles*/
.header .navbar {
  background: #3a4966;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.header .navbar-header {
  padding-top: 10px;
}
@media only screen and (max-width: 768px) {
  .header .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header .navbar-collapse {
  padding: 10px 0;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse {
    padding: 10px 0;
  }
}
.header .navbar-collapse .navbar-nav {
  margin: 20px 0;
}
.header .navbar-collapse .navbar-nav li a {
  color: #ffffff;
}
.header .navbar-collapse .navbar-nav li a:hover,
.header .navbar-collapse .navbar-nav li a:focus,
.header .navbar-collapse .navbar-nav li a:active {
  color: #81d7d3;
  background: none;
}
.header .logo {
  /*width:300px;*/
}
/*********************************************************************************************
Page/Location Specific Styles
**********************************************************************************************/
.about .flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
@media only screen and (max-width: 768px) {
  .about .flex {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}
.about .flex .flex-child {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.about .name h1 {
  font-size: 8vw;
  line-height: 100%;
}
@media only screen and (min-width: 1500px) {
  .about .name h1 {
    font-size: 6vw;
  }
}
/* ---------------------------------------------------------------------------------------
Projects section
--------------------------------------------------------------------------------------- */
.flex-parent {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
@media only screen and (max-width: 768px) {
  .flex-parent {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex-parent {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
.flex-parent .flex-child {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 265px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex-parent .flex-child {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    flex-grow: 2;
  }
}
/* ---------------------------------------------------------------------------------------
Skills section
--------------------------------------------------------------------------------------- */
.skills-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
@media only screen and (max-width: 768px) {
  .skills-container {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .skills-container {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
.skills-container .skills-list {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 265px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .skills-container .skills-list {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    flex-grow: 2;
  }
}
.skills-container .skills-list .panel-heading {
  background: #333f48;
  color: #ffffff;
}
/* ---------------------------------------------------------------------------------------
Time Line
--------------------------------------------------------------------------------------- */
.timeline {
  background: #e9f0f5;
}
/*  --------------------------------------------------------------------------------------
Experiements
---------------------------------------------------------------------------------------*/
/*timeline styles*/
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-is-hidden {
    visibility: hidden;
  }
}
.cd-timeline {
  overflow: hidden;
}
@media only screen and (min-width: 1280px) {
  .cd-timeline {
    margin-bottom: calc(60px);
  }
}
.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}
.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline__block::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}
.cd-timeline__block:first-child {
  margin-top: 0;
}
.cd-timeline__block::last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}
.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline__img span {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline__img.cd-timeline__img--picture {
  background: #75ce66;
}
.cd-timeline__img.cd-timeline__img--movie {
  background: #c03b44;
}
.cd-timeline__img.cd-timeline__img--location {
  background: #f0ca45;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.8s;
    animation: cd-bounce-1 0.8s;
  }
}
.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}
.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.8s;
    animation: cd-bounce-2 0.8s;
  }
}
.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}
.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__read-more {
    float: left;
  }
}
.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline__date {
  float: left;
  /*padding: .8em 0;*/
  opacity: .7;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    /*font-size: 1.6rem;*/
  }
}
@media only screen and (min-width: 768px) {
  /*.cd-timeline__content h2 {
		font-size: 2rem;
	}
	.cd-timeline__content p {
		font-size: 1.6rem;
	}*/
  .cd-timeline__read-more,
  .cd-timeline__date {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.8s;
    animation: cd-bounce-2-inverse 0.8s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/* -------------------------------- 

Hidden project bio

-------------------------------- */
/* -------------------------------- 
Main components 
-------------------------------- */
main {
  position: relative;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px);
}
main.slide-out .cd-overlay {
  /* the overlay layer gets visible when the author bio slides in */
  display: block;
  -webkit-animation: cd-fade-in 0.35s;
  -moz-animation: cd-fade-in 0.35s;
  -ms-animation: cd-fade-in 0.35s;
  -o-animation: cd-fade-in 0.35s;
  animation: cd-fade-in 0.35s;
}
@media only screen and (min-width: 768px) {
  main.slide-out {
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transform: translateX(-600px);
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  main.slide-out {
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px);
  }
}
#project-list ul {
  list-style: none;
  padding: 0;
}
#project-list li {
  /*margin-bottom: 2em;*/
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(61, 208, 209, 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#project-list figure {
  position: relative;
  min-height: 110px;
}
#project-list img {
  display: block;
  max-width: 100%;
  border-radius: .25em .25em 0 0;
}
#project-list .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 208, 209, 0.9);
  opacity: 0;
  border-radius: .25em .25em 0 0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
#project-list .img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
}
#project-list .cd-member-info {
  height: 50px;
  background: #ffffff;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 .25em .25em;
}
.no-touch #project-list li:hover {
  box-shadow: 0 0 10px rgba(61, 208, 209, 0.3);
}
.no-touch #project-list li:hover .img-overlay {
  opacity: 1;
}
.project-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: #333f48;
  z-index: 1;
  /* this how we move the author bio section off the canvas */
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
@media only screen and (min-width: 768px) {
  .project-info {
    width: 600px;
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .project-info {
    width: 800px;
    -webkit-transform: translateX(800px);
    -moz-transform: translateX(800px);
    -ms-transform: translateX(800px);
    -o-transform: translateX(800px);
    transform: translateX(800px);
  }
}
.project-info.slide-in {
  /* the author bio section slides in when the user clicks on the team member picture */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.project-info .project-pic {
  position: relative;
}
.project-info .project-pic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(top, #333f48, rgba(51, 63, 72, 0));
  background: linear-gradient(to bottom, #333f48, rgba(51, 63, 72, 0));
}
.project-info .project-pic::after {
  /* gradient at the bottom of the image - same color of the background of the section */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background: -webkit-linear-gradient(bottom, #333f48, rgba(51, 63, 72, 0));
  background: linear-gradient(to top, #333f48, rgba(51, 63, 72, 0));
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .project-info .project-pic::after {
    height: 400px;
  }
}
.project-info img {
  width: 100%;
  display: block;
}
.project-info .project-content {
  padding: 1em;
  color: #ffffff;
  text-shadow: 1px 1px 1px #666666;
}
@media only screen and (min-width: 768px) {
  .project-info .project-content {
    padding: 2em;
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .project-info .project-content {
    padding: 4em;
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .no-cssgradients .cd-member-bio .project-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.cd-member-bio-close {
  width: 42px;
  height: 42px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  /*background: url("../img/cd-icon-close.svg") no-repeat center center;*/
  /*text-indent: 100%;*/
  white-space: nowrap;
  z-index: 3;
  display: none;
}
.cd-member-bio-close.is-visible {
  display: block;
  -webkit-animation: cd-move-in 0.5s;
  -moz-animation: cd-move-in 0.5s;
  -ms-animation: cd-move-in 0.5s;
  -o-animation: cd-move-in 0.5s;
  animation: cd-move-in 0.5s;
}
@media only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .cd-member-bio-close {
    right: 20px;
    top: 20px;
  }
}
.cd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: none;
}
/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-move-in {
  0% {
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/*
********************************************************************************************
Widget Styles
	
********************************************************************************************
*/
/* --------------------------------------------------------------------------
 IE fixes
 --------------------------------------------------------------------------- */
